.search{
    padding-top: 50px;
}
.created{
    color: blueviolet;
}
.add{
    padding: 3rem;
    background-color: rgb(163, 228, 198);
    border-radius: 30px;
    margin-bottom: 2rem;
}
.name{
    color: blue;
    font-size: larger;
    font-weight: 600;
}
.title{
    font-weight: 900;
}
.chelsea{
    color: black;
    font-size: larger;
    font-weight: bolder;
}